body {
    background-color: #f8f9fa;
    font-family: 'Inter', sans-serif;
    color: #212529;
}

.App {
    max-width: 700px;
    margin: 50px auto;
}

header {
    text-align: center;
    padding: 50px 0;
}

.App-logo {
    display: block;
    margin: 0 auto;
    max-width: 150px;
    height: auto;
    opacity: 0.8;
    margin-bottom: -20px;
}